button {
  cursor: pointer;
  border-radius: 25px;
  border: black 2px groove;
  padding: 6px;
  background-color: blueviolet;
  margin: 10px;
}

.itemName{
  color: green;
  margin-right: 125px;
}
.itemPrice{
  color: green;
  margin-right: 125px;
}
.itemCategory{
  color: green;
  margin-right: 125px;
}

button:hover {
  background-color: purple;
  transform: scale(1.03);
  
}

select {
  /* cursor: pointer; */
  padding: 3px;
  border-radius: 15px;
  border: 1px solid black;
}

input {
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
}

.itemsTerritory {
  width: 90vw;
  max-width: 1500px;
  margin: 45px;
}

.categoryTerritory {
  width: 90vw;
  max-width: 1500px;
  margin: 45px;
}

.itemsTerritory *, .categoryTerritory * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemContainer, .categoryContainer {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px 0px 10px 10px;
  /* vertical-align: text-top; */
}

.itemContainer {
  height: 150px;
}